# test.thing polyfill for systems that lack support for sshd-vsock.socket
#
# If you use this, you also need to use tt-sshd-vsock.socket

[Unit]
Wants=sshd-keygen.target
After=sshd-keygen.target

[Service]
EnvironmentFile=-/etc/sysconfig/sshd
ExecStart=-/usr/sbin/sshd -i $OPTIONS -o "AuthorizedKeysFile ${CREDENTIALS_DIRECTORY}/ssh.ephemeral-authorized_keys-all .ssh/authorized_keys"
StandardInput=socket
LoadCredential=ssh.ephemeral-authorized_keys-all
