# test.thing polyfill for systems that lack support for vmm.notify_socket
#
# This works also on systemd versions that don't know about credentials from
# SMBIOS OEM strings by using dmidecode directly.  socat is also required.

[Unit]
After=sockets.target
Wants=sockets.target

[Service]
Type=oneshot
ExecStart=/bin/bash -ec '\
    if addr="$$(dmidecode -qt11 | grep -om1 "vsock-stream:2:[0-9]*")"; then \
        printf X_SYSTEMD_UNIT_ACTIVE=sockets.target | socat - "$${addr/stream/connect}"; \
    fi \
'

[Install]
WantedBy=sockets.target
