# test.thing polyfill for systems that lack support for vmm.notify_socket
#
# This works also on systemd versions that don't know about credentials from
# SMBIOS OEM strings by using dmidecode directly.  socat is also required.

[Unit]
After=sockets.target
Wants=sockets.target

[Service]
Type=oneshot
ExecStart=vsock-fling 2 1111 X_SYSTEMD_UNIT_ACTIVE=sockets.target

[Install]
WantedBy=sockets.target
